<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>企業・ビジネスサイト向け 無料ホームページテンプレート tp_biz60</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ここにサイト説明を入れます" name="description">
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="home">

<div id="container">

    <!--開閉ブロック-->
    <div id="menubar">

        <nav>
            <ul>
                <li><a href="index.html">ホーム</a></li>
                <li><a href="company.html">ニュース</a></li>
                <li><a href="">食品</a>
                    <ul>
                        <li><a href="service.html">外食</a></li>
                        <li><a href="service.html">食品</a></li>
                        <li><a href="service.html">食の安全</a></li>
                    </ul>
                </li>
                <li><a href="faq.html">展示会・セミナー</a></li>
                <li><a href="contact.html">ノウハウBOOK</a></li>
                <li><a href="contact.html">役立ちツール</a></li>
            </ul>
        </nav>

        <div class="sh">
            <p>※800px以下のメニュー開閉時にのみ表示させたい情報があればここ（shボックスの中）に入れて下さい。<br>
                サンプルテキスト。サンプルテキスト。<br>
                サンプルテキスト。サンプルテキスト。<br>
                サンプルテキスト。サンプルテキスト。</p>
        </div>
        <!--/.sh-->

    </div>
    <!--/#menubar-->

    <main>

        <div class="c2">

            <div class="main">

                <section>

                    <h2>News</h2>

                    <dl id="new">
                        <dt>2022/10/13<span>その他</span></dt>
                        <dd>tp_biz60配布開始。</dd>
                        <dt>20XX/00/00<span class="icon-bg1">サービス</span></dt>
                        <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
                        <dt>20XX/00/00<span class="icon-bg1">サービス</span></dt>
                        <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
                        <dt>20XX/00/00</dt>
                        <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
                        <dt>20XX/00/00<span>その他</span></dt>
                        <dd>
                            サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。
                        </dd>
                    </dl>

                </section>

                <section>

                    <h2>テンプレート本文</h2>

                    <h3>ご案内</h3>
                    <p>テストです。</p>
                </section>

            </div>
            <!--/.main-->

            <div class="sub">

                <h3>Menu</h3>
                <ul class="submenu">
                    <li><a href="#">メニューサンプル</a></li>
                    <li><a href="#">メニューサンプル</a></li>
                    <li><a href="#">メニューサンプル</a></li>
                    <li><a href="#">メニューサンプル</a></li>
                    <li><a href="#">メニューサンプル</a></li>
                </ul>

            </div>
            <!--/.sub-->

        </div>
        <!--/.c2-->

        <section class="bg1">

            <h2>Topics</h2>

            <div class="list-container">

                <div class="list blur">
                    <figure><img alt="" src="images/sample1.jpg"></figure>
                    <div class="text">
                        <h4>Sample Title</h4>
                        <p>ここに説明を入れます。サンプルテキスト。</p>
                    </div>
                    <span class="new">NEW</span>
                </div>

                <div class="list blur">
                    <figure><img alt="" src="images/sample1.jpg"></figure>
                    <div class="text">
                        <h4>Sample Title</h4>
                        <p>ここに説明を入れます。サンプルテキスト。</p>
                    </div>
                </div>

                <div class="list blur">
                    <figure><img alt="" src="images/sample1.jpg"></figure>
                    <div class="text">
                        <h4>Sample Title</h4>
                        <p>ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。ここに説明を入れます。サンプルテキスト。</p>
                    </div>
                </div>

            </div>
            <!--/.list-container-->

            <p class="btn mt30"><a class="ws" href="service.html">一覧へ</a></p>

        </section>

    </main>

    <footer>

        <ul id="footermenu">
            <li><a href="#">フッターメニュー</a></li>
            <li><a href="#">フッターメニュー</a></li>
            <li><a href="#">フッターメニュー</a></li>
            <li><a href="#">フッターメニュー</a></li>
            <li><a href="#">フッターメニュー</a></li>
        </ul>

        <div class="copy">
            <small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
            <span class="pr"><a href="https://template-party.com/"
                                target="_blank">《Web Design:Template-Party》</a></span>
        </div>

    </footer>

    <!--開閉ボタン（ハンバーガーアイコン）-->
    <div id="menubar_hdr">
        <span></span><span></span><span></span>
    </div>

</div>
<!--/#container-->

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="js/jquery.inview_set.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="js/main.js"></script>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</body>
</html>
